<div class="draggable dropdown insert-block">
  <img
    id="insert-block-icon"
    src="assets/icons/here.png"
    class="icon"
    alt="plus"
  />

  <span><img src="assets/icons/plus.png" class="icon" alt="plus" /></span>
  <ul>
    <li (click)="onBaliseSelected('h1')">H1</li>
    <li (click)="onBaliseSelected('h2')">H2</li>
    <li (click)="onBaliseSelected('h3')">H3</li>
    <li (click)="onBaliseSelected('h4')">H4</li>
    <li (click)="onBaliseSelected('paragraph')">T</li>
    <li (click)="onBaliseSelected('todo')">✓</li>
  </ul>
</div>
