<div
  [@fade]="isVisible ? 'visible' : 'hidden'"
  (@fade.done)="onFadeDone($event)"
>
  <div>
    <h1 contenteditable="true">Kanban</h1>
  </div>

  <div class="container">
    <div class="columns-wrapper">
      <!-- Colonnes dynamiques -->
      <div class="column" *ngFor="let column of columns; let i = index">
        <div
          class="column-header"
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <h2 contenteditable="true" (blur)="renameColumn($event, i)">
            {{ column.title }}
          </h2>
          <button (click)="deleteColumn(i)" title="Supprimer cette colonne">
            🗑️
          </button>
        </div>

        <div
          cdkDropList
          [cdkDropListData]="column.items"
          [cdkDropListConnectedTo]="getConnectedDropLists(i)"
          class="column-list"
          (cdkDropListDropped)="drop($event)"
          id="cdk-drop-list-{{ i }}"
        >
          <div
            *ngFor="let item of column.items; trackBy: trackByFn"
            class="item-box"
            cdkDrag
            (dblclick)="openEditPopup(item)"
          >
            <p data-role="item-title">{{ item.title }}</p>
            <p data-role="item-texte">{{ item.texte }}</p>
            <em data-role="item-estimate"
              >Estimate: {{ item.estimate }} days</em
            >
            <progress
              data-role="item-progress"
              [value]="item.progress"
              max="100"
            ></progress>
            <p data-role="item-jira">{{ item.jira }}</p>
          </div>

          <div class="add-item-btn" *ngIf="i === 0">
            <img
              src="assets/icons/add.png"
              id="add-item-btn"
              alt="add-item-btn"
              (mouseenter)="startJumpAnimation()"
              (animationend)="onAnimationEnd()"
              [class.jump-animation]="isJumping"
              (click)="openEditPopup()"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Bouton + à droite de toutes les colonnes -->
    <div class="add-column-btn" (click)="addColumn()" title="Add Column">+</div>
  </div>

  <!-- Popup création / édition -->
  <div *ngIf="showPopup" class="popup-center">
    <h3 id="popup-title">{{ editingItem ? "Edit Task" : "Create Task" }}</h3>

    <div class="form-row">
      <label>JIRA:</label>
      <input [(ngModel)]="popupItem.jira" placeholder="ABCD-12345" />
    </div>

    <div class="form-row">
      <label>Title:</label>
      <input [(ngModel)]="popupItem.title" placeholder="Side project" />
    </div>

    <div class="form-row">
      <label>Texte:</label>
      <textarea
        [(ngModel)]="popupItem.texte"
        placeholder="Create a kanban component with 4 columns."
      ></textarea>
    </div>

    <div class="form-row">
      <label>Estimate (days):</label>
      <input
        type="number"
        [(ngModel)]="popupItem.estimate"
        (keypress)="allowOnlyNumbers($event, 'estimate')"
        placeholder="0,5"
      />
      <p class="error-message" *ngIf="estimateError">
        Seuls les chiffres sont autorisés.
      </p>
    </div>

    <div class="form-row">
      <label>Progress (%):</label>
      <input
        type="number"
        [(ngModel)]="popupItem.progress"
        min="0"
        max="100"
        (keypress)="allowOnlyNumbers($event, 'progress')"
        placeholder="0,5"
      />
      <p class="error-message" *ngIf="progressError">
        Seuls les chiffres sont autorisés.
      </p>
    </div>

    <div class="form-actions">
      <button (click)="savePopup()">Save</button>
      <button (click)="cancelPopup()">Cancel</button>
    </div>
  </div>
</div>
