.editable.h2 {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 10px;
  left: 2px;
  color: #aaa;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.3s ease;
  opacity: 1;
}

span {
  font-size: 27px;
}

@media (max-width: 1024px) {
  .placeholder {
    top: 7px;
  }
}

@media (max-width: 375px) {
  .placeholder {
    font-size: 22px;
    top: 11px;
  }
}
