<div
  class="inputForm"
  [@fade]="isVisible ? 'visible' : 'hidden'"
  (@fade.done)="onFadeDone($event)"
>
  <div #draggableWrapper class="draggable-wrapper draggable">
    <h2
      class="editable h2"
      contenteditable="true"
      (input)="onInput($event)"
      appToggleDraggable
    ></h2>
    <span
      class="placeholder"
      *ngIf="!hasContent"
      [@fade]="!hasContent ? 'visible' : 'hidden'"
    >
      Nouveau titre
    </span>
    <app-toolbar-block (deleteBalise)="delete()"></app-toolbar-block>
  </div>
</div>
