.editable.h1 {
  position: relative;
}

.placeholder {
  position: absolute;
  top: 14px;
  left: 2px;
  color: #aaa;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.3s ease;
  opacity: 1;
}

span {
  font-size: 30px;
}
