<div
  class="inputForm"
  [@fadeIn]="isVisible ? 'visible' : 'hidden'"
  (@fadeIn.done)="onFadeDone($event)"
>
  <div #draggableWrapper class="draggable-wrapper draggable">
    <label class="floating-label" *ngIf="!hasContent">{{ placeHolder }}</label>
    <p
      #editableParagraph
      class="editable paragraph"
      contenteditable="true"
      (input)="onInput($event)"
      appToggleDraggable
    ></p>

    <app-toolbar-block (deleteBalise)="delete()"></app-toolbar-block>
  </div>
</div>
