<div
  class="inputForm"
  [@fade]="isVisible ? 'visible' : 'hidden'"
  (@fade.done)="onFadeDone($event)"
>
  <div #draggableWrapper class="draggable-wrapper draggable">
    <label [@fade]="'visible'" class="floating-label" *ngIf="!hasContent">{{
      placeHolder
    }}</label>
    <p
      #editableParagraph
      class="editable paragraph"
      contenteditable="true"
      (input)="onInput($event)"
      appToggleDraggable
    ></p>

    <app-toolbar-block (deleteBalise)="delete()"></app-toolbar-block>
  </div>
</div>
