$primary: #8c8994;

.draggable-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 35px;
  display: flex;
  flex-direction: column;
}

.floating-label {
  position: absolute;
  top: 29px;
  left: 0;
  color: $primary;
  transition: all 0.3s ease;
  pointer-events: none;
}

.draggable-wrapper:focus-within .floating-label {
  top: 5px;
}

.editable-paragraph {
  width: 100%;
  flex: 1;
  min-height: 35px;
  padding: 14px 0 13px;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid $primary;
  outline: none;
  white-space: pre-wrap;
  word-break: break-word;
}

.resize-drag {
  user-select: text; // assure que le texte est sélectionnable
}

#move-btn {
  cursor: all-scroll;
}
