<div
  class="inputForm"
  [@fadeIn]="isVisible ? 'visible' : 'hidden'"
  (@fadeIn.done)="onFadeDone($event)"
>
  <div #draggableWrapper class="draggable-wrapper resize-drag">
    <label class="floating-label" *ngIf="!hasContent">{{ placeHolder }}</label>
    <p
      #editableParagraph
      class="editable-paragraph"
      contenteditable="true"
      (input)="onInput($event)"
    ></p>

    <!-- Barre d'outils flottante -->
    <div class="toolbar-container">
      <div id="text-toolbar">
        <img
          id="bold-btn"
          src="assets/icons/bold.png"
          class="icon"
          alt="bold"
        />
        <img
          id="italic-btn"
          src="assets/icons/italic.png"
          class="icon"
          alt="italic"
        />
        <img
          id="strike-btn"
          src="assets/icons/strike.png"
          class="icon"
          alt="strike"
        />
        <img
          id="toggle-case-btn"
          src="assets/icons/toggle-case.png"
          class="icon"
          alt="toggle-case"
        />
        <img
          src="assets/icons/moving.png"
          class="icon"
          id="move-btn"
          alt="move"
        />
      </div>

      <div id="text-delete">
        <img
          src="assets/icons/delete.png"
          class="icon"
          id="delete-btn"
          alt="delete"
          (click)="delete()"
        />
      </div>
    </div>
  </div>
</div>
