<div
  class="editable-container"
  [@fade]="isVisible ? 'visible' : 'hidden'"
  (@fade.done)="onFadeDone($event)"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div #draggableWrapper class="draggable-wrapper draggable">
    <label [@fade]="'visible'" class="floating-label" *ngIf="!hasContent">{{
      "paragraph" | translate
    }}</label>
    <p
      #editableParagraph
      class="editable paragraph"
      contenteditable="true"
      (input)="onInput($event)"
      appToggleDraggable
      (focus)="onFocus()"
      (blur)="onBlur()"
    ></p>

    <app-block-toolbar
      *ngIf="showToolbar"
      (deleteBalise)="delete()"
    ></app-block-toolbar>
  </div>
</div>
