main {
  display: flex;
}

.inputForm {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

app-sidebar {
  height: 100vh;
  width: 15%;
  background: rgb(32, 32, 32);
  box-shadow: rgba(255, 255, 255, 0.055) -1px 0px 0px 0px inset;
}

.view {
  width: 85%;
  background: rgb(25, 25, 25);
  box-shadow: rgba(255, 255, 255, 0.055) -1px 0px 0px 0px inset;
}
