main {
  display: flex;
}

.inputForm {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

app-sidebar {
  height: 100vh;
  width: 15%;
  background: rgb(32, 32, 32);
  box-shadow: rgba(255, 255, 255, 0.055) -1px 0px 0px 0px inset;
}

.view {
  width: 85%;
  background: rgb(25, 25, 25);
  box-shadow: rgba(255, 255, 255, 0.055) -1px 0px 0px 0px inset;
}

.editable:empty:before {
  content: attr(data-placeholder);
  pointer-events: none;
  font-weight: normal;
  margin: 0;
  color: #8c8994;
}

.editable {
  width: 100%;
  flex: 1;
  min-height: 35px;
  padding: 14px 0 13px;
  background: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid #8c8994;
  outline: none;
  white-space: pre-wrap;
  word-break: break-word;
}
