<div class="main">
  <main>
    <app-sidebar
      [activeSection]="sideBarActiveSection"
      (dashboardSelected)="openDashboard()"
      (noteSelected)="openNote($event)"
      (kanbanSelected)="openKanban($event)"
      (settingSelected)="openSetting()"
      (deleteSelectedNote)="handleDeleteSelectedNote($event)"
      (deleteSelectedKanban)="handleDeleteSelectedKanban($event)"
    >
    </app-sidebar>

    <div class="view">
      <ng-container #viewContainer></ng-container>
    </div>
  </main>
</div>
