<div>
  <div class="container">
    <img
      src="assets/icons/electronic_light.png"
      id="iconTitle"
      alt="SecondBrainIcon"
    />
    <h1>Second Brain</h1>
  </div>

  <div>
    <nav class="sidebar-menu">
      <ul>
        <li>
          <a href="#">
            <img src="assets/icons/home.png" class="icon" alt="Dashboard" />
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/icons/note.png" class="icon" alt="Notes" />
            <span>Notes</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/icons/dashboard.png" class="icon" alt="Kanban" />
            <span>Kanban</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="assets/icons/settings.png" class="icon" alt="Settings" />
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
