.icon {
  width: 17px;
  height: 17px;
  padding: 5px;
  cursor: pointer;
}

.toolbar-container {
  display: flex;
  align-items: center; /* aligne verticalement au centre */
  gap: 10px; /* espace entre la toolbar et l'icône */
  margin-bottom: 15px;
  border-top: 2px solid #8c8994;
}

#balise-toolbar {
  width: 100%;
  padding: 4px;
}

#balise-delete {
  text-align: right;
  width: 100%;
}

#toggle-case-btn {
  width: 25px;
  height: 25px;
  padding: 0px;
  margin-right: 2px;
}
