.icon {
  width: 17px;
  height: 17px;
  padding: 5px;
  cursor: pointer;
}

.toolbar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 2px solid #8c8994;
}

#balise-toolbar {
  width: 100%;
  padding: 4px;
}

#balise-delete {
  text-align: right;
  width: 100%;
}

#toggle-case-btn {
  width: 25px;
  height: 25px;
  padding: 0px;
  margin-right: 2px;
}

@media (max-width: 375px) {
  #balise-toolbar {
    display: inline-flex;
    padding: 0px;
  }

  #balise-delete {
    margin-left: -14px;
    margin-top: 2px;
  }

  .icon {
    display: inline-flex;
  }
}
