<div
  class="inputForm"
  [@fade]="isVisible ? 'visible' : 'hidden'"
  (@fade.done)="onFadeDone($event)"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div #draggableWrapper class="draggable-wrapper draggable">
    <div class="inputForm field">
      <label [@fade]="'visible'" class="floating-label" *ngIf="!hasContent">{{
        placeHolder
      }}</label>
      <textarea
        (input)="onInputChange($event)"
        class="inputField"
        id="inputArea"
        required
        appToggleDraggable
        (focus)="onFocus()"
        (blur)="onBlur()"
      ></textarea>
    </div>

    <app-toolbar-block
      *ngIf="showToolbar"
      (deleteBalise)="delete()"
    ></app-toolbar-block>
  </div>
</div>
