<div
  class="inputForm"
  [@fadeIn]="isVisible ? 'visible' : 'hidden'"
  (@fadeIn.done)="onFadeDone($event)"
>
  <div #draggableWrapper class="draggable-wrapper draggable">
    <div class="inputForm field">
      <textarea
        (input)="onInputChange($event)"
        class="inputField"
        placeholder="inputText"
        id="inputArea"
        required
        appToggleDraggable
      ></textarea>
      <label for="inputArea" id="inputLabel">
        Écrivez, tapez « / » pour afficher les commandes…
      </label>
    </div>

    <app-toolbar-block (deleteBalise)="delete()"></app-toolbar-block>
  </div>
</div>
