.secondBrain,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.secondBrain h1 {
  margin-left: 15px;
  margin-top: 0;
}

#iconSeconbBrain {
  width: 45px;
  height: 45px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-menu ul {
  padding-left: 35px;
  list-style: none;
  margin: 0;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-decoration: none;
  color: inherit;
  transition: color 0.5s ease;
}

.sidebar-menu a:hover {
  color: white;
  text-decoration: none;
}

.sidebar-menu .icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.sidebar-menu span.active {
  color: white;
}

span {
  margin-left: 10px;
}

.note-container,
.kanban-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-note-btn,
#add-kanban-btn {
  width: 18px;
  height: 18px;
  margin-right: 20px;
  cursor: pointer;
  margin-top: -15px;
}

.note-list,
.kanban-list {
  margin: -8px 0 4px 0;
  font-size: 12px;
  list-style: revert !important;
  padding-left: 20px;
}

.note-list li > div,
.kanban-list li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  transition: color 0.2s ease;
  margin-bottom: 5px;
}

li:last-child {
  margin-bottom: 10px;
}

#edit-note-btn,
#edit-kanban-btn {
  width: 16px;
  height: 16px;
  margin-right: 13px;
  cursor: pointer;
}

#delete-note-btn,
#delete-kanban-btn {
  width: 16px;
  height: 16px;
  margin-right: 13px;
  cursor: pointer;
}

.note-item.selected,
.kanban-item.selected {
  color: white;
}

.note-item:hover,
.kanban-item:hover {
  color: white;
}

.edit-template {
  display: flex;
  align-items: center;
}

.note-edit,
.kanban-edit {
  background: white;
  color: black;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 2px 6px;
  margin-right: 8px;
}

.note-edit:focus,
.kanban-edit:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.check-icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  cursor: pointer;
}

#modeButton {
  background-color: #20203e;
  color: white;
  border-radius: 5px;
  height: 35px;
  width: 120px;
  border: 2px solid #3f3b5c;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#modeButton:hover {
  background-color: #1b1b2c;
}
