<div>
  <div class="secondBrain">
    <img
      src="assets/icons/electronic_dark.png"
      id="iconSeconbBrain"
      alt="SecondBrainIcon"
    />
    <h1>Second Brain</h1>
  </div>

  <div>
    <nav class="sidebar-menu">
      <ul>
        <li>
          <a href="#">
            <img src="assets/icons/home.png" class="icon" alt="Dashboard" />
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <div class="note-container">
            <a href="#">
              <img src="assets/icons/note.png" class="icon" alt="Notes" />
              <span (click)="addNote()">Notes</span>
            </a>
            <img
              src="assets/icons/plus.png"
              id="add-note-btn"
              alt="add-note"
              (click)="addNote()"
            />
          </div>

          <ul class="note-list">
            <li *ngFor="let note of notes">
              <ng-container
                *ngIf="editingNoteId !== note.id; else editTemplate"
              >
                <div
                  class="note-item"
                  [class.selected]="selectedNoteId === note.id"
                  (click)="selectNote(note.id)"
                >
                  {{ note.title }}
                  <img
                    src="assets/icons/pen.png"
                    id="edit-note-btn"
                    alt="edit-note"
                    (click)="enableEdit(note.id, $event)"
                  />

                  <img
                    src="assets/icons/delete.png"
                    id="delete-note-btn"
                    alt="delete-note"
                    (click)="deleteNote(note.id, $event)"
                  />
                </div>
              </ng-container>

              <ng-template #editTemplate>
                <div class="edit-template">
                  <input
                    #editInput
                    class="note-edit"
                    [value]="note.title"
                    (blur)="saveTitle(note.id, $event)"
                    (keydown.enter)="saveTitle(note.id, $event)"
                  />

                  <img
                    class="check-icon"
                    src="assets/icons/check.png"
                    alt="edit-valid"
                    (click)="editingNoteId = null"
                  />
                </div>
              </ng-template>
            </li>
          </ul>
        </li>
        <li>
          <div class="kanban-container">
            <a href="#">
              <img src="assets/icons/dashboard.png" class="icon" alt="Kanban" />
              <span (click)="addKanban()">Kanban</span>
            </a>
            <img
              src="assets/icons/plus.png"
              id="add-kanban-btn"
              alt="add-kanban"
              (click)="addKanban()"
            />
          </div>

          <ul class="kanban-list">
            <li *ngFor="let kanban of kanbans">
              <ng-container
                *ngIf="editingKanbanId !== kanban.id; else editTemplate"
              >
                <div
                  class="kanban-item"
                  [class.selected]="selectedKanbanId === kanban.id"
                  (click)="selectKanban(kanban.id)"
                >
                  {{ kanban.title }}
                  <img
                    src="assets/icons/pen.png"
                    id="edit-kanban-btn"
                    alt="edit-kanban"
                    (click)="enableKanbanEdit(kanban.id, $event)"
                  />

                  <img
                    src="assets/icons/delete.png"
                    id="delete-kanban-btn"
                    alt="delete-kanban"
                    (click)="deleteKanban(kanban.id, $event)"
                  />
                </div>
              </ng-container>

              <ng-template #editTemplate>
                <div class="edit-template">
                  <input
                    #editInput
                    class="kanban-edit"
                    [value]="kanban.title"
                    (blur)="saveKanbanTitle(kanban.id, $event)"
                    (keydown.enter)="saveKanbanTitle(kanban.id, $event)"
                  />

                  <img
                    class="check-icon"
                    src="assets/icons/check.png"
                    alt="edit-valid"
                    (click)="editingKanbanId = null"
                  />
                </div>
              </ng-template>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <img src="assets/icons/settings.png" class="icon" alt="Settings" />
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="button">
    <button id="modeButton">
      <img src="assets/icons/moon.png" class="icon" alt="ModeButton" />
      Dark mode
    </button>
  </div>
</div>
