// Dark color
:root {
  --sidebarColor: rgb(32, 32, 32);
  --backgroundColor: rgb(25, 25, 25);
  --blockTextColor: white;
  --textColor: rgb(155, 155, 155);
  --textColorHover: white;

  --dashboardColor: rgb(32, 32, 32);
  --dashboardTitleColor: white;
  --dashboardLabelColor: white;
  --dashboardPyramidLabelColor: white;

  --blockInsertColor: #53527d;
  --blockInsertUl: #222;

  --blockNewTasksButton: #53527d;
  --blockNewTasksButtonBorder: #3f3b5c;
  --blockNewTasksButtonHover: #252540;

  --kanbanHeaderTextColor: white;
  --kanbanBackgroundColor: #202020;
  --kanbanBorderSolidColor: black;
  --kanbanTicketProgressBarColor: #7d7d7d;

  --blockSettingsButton: #53527d;
  --blockSettingsButtonBorder: #3f3b5c;
  --blockSettingsButtonHover: #252540;
  --blockSettingsTextButtonColor: white;
}

// Light color
.light-theme {
  --sidebarColor: #f7f7f7;
  --backgroundColor: #fff;
  --blockTextColor: black;
  --textColor: black;
  --textColorHover: black;

  --dashboardColor: white;
  --dashboardTitleColor: black;
  --dashboardPyramidLabelColor: rgb(34, 33, 33);
  --dashboardLabelColor: rgb(155, 155, 155);

  --blockInsertColor: #bbb8b8;
  --blockInsertUl: #5e5e5e;
  --blockInsertIconRight: 0;

  --blockNewTasksButton: #bbb8b8;
  --blockNewTasksButtonBorder: #8e8e8e;
  --blockNewTasksButtonHover: #7a7a7a;

  --kanbanHeaderTextColor: #484848;
  --kanbanBackgroundColor: #e1e1e1;
  --kanbanBorderSolidColor: #c2c2c2;
  --kanbanTicketProgressBarColor: #7d7d7d;

  --blockSettingsButton: #bbb8b8;
  --blockSettingsButtonBorder: #8e8e8e;
  --blockSettingsButtonHover: #7a7a7a;
  --blockSettingsTextButtonColor: black;
}

body {
  margin: 0;
}

html {
  color: var(--textColor);
  font-size: 15px;
  font-family: system-ui;
  font-weight: normal;
}

h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 0px;
}

h3 {
  margin-bottom: 0px;
}

h4 {
  margin-bottom: 0px;
}

p {
  margin-bottom: 0px;
}

a {
  color: var(--textColor);
}

.icon {
  width: 15px;
  height: 15px;
}

.editable {
  width: 100%;
  flex: 1;
  min-height: 35px;
  padding: 14px 0 13px;
  background: transparent;
  border: none;
  color: var(--blockTextColor);
  outline: none;
  white-space: pre-wrap;
  word-break: break-word;
}

@media (max-width: 1024px) {
  html {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }
}
