body {
  margin: 0;
}

html {
  color: rgb(155, 155, 155);
  font-size: 15px;
  font-family: system-ui;
  font-weight: normal;
}

h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 0px;
}

h3 {
  margin-bottom: 0px;
}

h4 {
  margin-bottom: 0px;
}

p {
  margin-bottom: 0px;
}

a {
  color: inherit;
}

.icon {
  width: 15px;
  height: 15px;
}

.editable {
  width: 100%;
  flex: 1;
  min-height: 35px;
  padding: 14px 0 13px;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  white-space: pre-wrap;
  word-break: break-word;
}
