<div
  class="editable-container"
  [@fade]="isVisible ? 'visible' : 'hidden'"
  (@fade.done)="onFadeDone($event)"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="draggable-wrapper draggable">
    <h3
      class="editable h3"
      contenteditable="true"
      (input)="onInput($event)"
      appToggleDraggable
      (focus)="onFocus()"
      (blur)="onBlur()"
    ></h3>
    <span
      class="placeholder"
      *ngIf="!hasContent"
      [@fade]="!hasContent ? 'visible' : 'hidden'"
    >
      {{ "H3" | translate }}
    </span>
    <app-block-toolbar
      *ngIf="showToolbar"
      (deleteBalise)="delete()"
    ></app-block-toolbar>
  </div>
</div>
