<div class="container">
  <h1>Guide de démarrage</h1>

  <div class="informations">
    <p>👋 Bienvenue sur Second Brain !</p>
    <p>
      <br />
      Quelques informations avant de commencer :
    </p>
    <p>
      📝 Commence à écrire n’importe où pour prendre des notes ou structurer tes
      idées.
    </p>
    <p>
      🔤 Tapez / pour insérer facilement du contenu comme des titres, images,
      listes ou blocs personnalisés.
    </p>
    <p>
      ✍️ Sélectionne un texte pour faire apparaître un menu de mise en forme
      rapide (italique, gras, barré, code, liens).
    </p>
    <p>
      🖱️ Passe ta souris à gauche d’un bloc pour faire apparaître l’icône ⋮⋮ :
      elle permet de le déplacer librement.
    </p>
    <p>
      🆕 Clique sur + Nouvelle page en bas de la barre latérale pour créer un
      nouvel espace de travail.
    </p>
  </div>

  <div class="inputForm field">
    <textarea
      (input)="onInputChange($event)"
      class="inputField"
      placeholder="inputText"
      id="inputArea"
      required
    ></textarea>
    <label for="inputArea" id="inputLabel">
      Écrivez, tapez « / » pour afficher les commandes…
    </label>
  </div>
</div>
