<div class="container">
  <p
    id="title"
    data-placeholder="Nouveau titre ..."
    contenteditable="true"
    (input)="onInputTitle($event)"
  ></p>

  <div
    class="template"
    [ngStyle]="{ height: showInitialParagraph ? 'auto' : '100vh' }"
    (click)="showParagraph()"
  >
    <div class="block-item">
      <app-paragraph-block
        #initialParagraph
        *ngIf="showInitialParagraph"
        (baliseSelected)="handleBaliseSelected($event)"
        (deleteParagraph)="handleDeleteParagraph()"
      ></app-paragraph-block>
    </div>
    <ng-template #container></ng-template>
  </div>
</div>
