<div class="container">
  <p
    id="title"
    data-placeholder="Nouveau titre ..."
    contenteditable="true"
    (input)="onInputTitle($event)"
  ></p>

  <div
    [ngStyle]="{ height: showInitialParagraph ? 'auto' : '100vh' }"
    class="informations"
    (click)="showParagraph()"
  >
    <app-paragraph-block
      #initialParagraph
      *ngIf="showInitialParagraph"
      (baliseSelected)="handleBaliseSelected($event)"
      (deleteParagraph)="handleDeleteParagraph()"
    ></app-paragraph-block>

    <ng-template #container></ng-template>
  </div>
</div>
